@import 'libs/bootstrap-reboot.min';
@import 'base/mixins', 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    // position: relative;
    margin: 0 auto;

    &-m0 {
        margin: 0;
    }
}

@import 'blocks/promo', 'blocks/headmenu', 'blocks/about', 'blocks/audioplayer', 'blocks/mybio';